[user]
    name = NGAW
    email = ngaw.mobile.dev@gmail.com

[core]
    editor = nvim

[color]
    ui = auto
[init]
    defaultBranch = main

[alias]
    pushf  = push
    pusht  = !git push && git push --tags
	merge-to = "!f() { current_branch=$(git symbolic-ref --short HEAD); git checkout \"$1\" && git merge \"$current_branch\" && git checkout \"$current_branch\"; }; f"
