[user]
    name = Amol Wankhede
    email = amolsw.nz@gmail.com

[core]
    editor = code
    excludesfile = /Users/amolwankhede/.gitignore

[color]
    ui = auto
[init]
    defaultBranch = main
[alias]
    wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
    wtr = "!f() { git worktree remove \"../$1\"; }; f"
    wtl = "!f() { git worktree list; }; f"
